@charset "UTF-8";

/*Estilos do banner*/

div#jumbotron-wrapper{
	background-image: url('../assets/img/casa-jumbotron.jpg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 6px;
}

div#jumbotron-cover{
	background-color: rgba(255,255,255,.6);
	border: 1px solid #e1e1e1;
}